body {
    margin: 5;
    padding: 5;
}

.main {
    margin-top: 5%;
}

.form {
    flex: 1;
    margin: 0% auto;
    max-width: 400px;
    padding: 10px;
    background-color: greenyellow;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

label {
    margin-bottom: 5px;
    display: block;
    margin: 10px 0px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
    width: 90%;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.form button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    width: 50%;
    margin-left: 22%;
    margin-top: 2%;
}